


body {
  background-image:url(https://image-cdn-fa.spotifycdn.com/image/ab67706c0000da846cddfa889a449cb8dfe68d68);
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #ff0000;
  border: 10px solid #c40000;
}

div {
  margin: 20px;
}

h1 {
  color: #ff0000;
}

input {
  padding: 8px;
  border: 1px solid rgb(184, 0, 0);
  border-radius: 5px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  background-color: #440202;
  color: rgb(241, 2, 2);
  cursor: pointer;
}

button:hover {
  background-color: #f30000;
}

p {
  color: #970000;
}

li {
  margin: 10px 0;
}